body {
  background-color:var(--brand-color);
  font-family: 'Roboto', sans-serif;
  font-style:Regular;
  font-size: 14px; 
  line-height: 1.71;
  letter-spacing: 0.03em;
   }

 
:root {
  --brand-color:#E5E5E5;
  --header-color:#FFFFFF;
  --nk-color:#F5F4FA;
  --hero-footer:#2F303A;
  --blue-color:#2196F3;
  --h-color:#212121;
  --brand-letter:#757575;

  --link-font:'Raleway', sans-serif;
  --title-h:font-weight: 500;
 }




h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}



/* header */

.container {
  width: 1200px;
  display:flex;
  justify-items: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 2px dashed red;
}

.site-nav-a {
  display: flex;
  align-items: center;
}

.site-nav  {
  display: flex;
  align-items: center;
}


.item-p {
  display:flex;

}
.conteiner-u {
  display:flex;
 align-items: center;
 
}



.site-nav .item +.item {
  margin-left: 50px;
}

.item-c {
  margin-left: 0px;
  margin-right: 93px;
}

.mar {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0px;
  padding-left: 0px;
}

.item-a {
  margin-left: 290px;
  margin-right: 0px;
}

.item-b {
  margin-left: 48px;
  margin-right: 0px;
}





.header {
  background-color:var(--header-color);
  font-weight: 500;
  border-bottom:1px solid #ECECEC;
}

.link {
  text-decoration: none;
  color: inherit;
}
   
.ul-link-blu {
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.kontakt {
  color:var(--brand-letter);
}

.link-blue {
  text-decoration: none;
 
}

.link-blue span {
  color:var(--blue-color);
}

.link-blue:hover,
.link-blue:focus {
  color:var(--blue-color);
}


/* Cекция герой */




.hero-container {
  display: block;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  border: 2px dashed red;

}

.hero-name {
  visibility:hidden;
  margin-bottom: 0px;
  padding-top: 15px;}


 .efect-hero-container  {
  display: block;
  min-width: 700px;
  height: 120px;

  margin-top:150px; 
  margin-bottom:30px ;
  padding-right: 250px;
  padding-left: 250px;
}


.hero-title {
  font-weight: 900;
  font-size: 44px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color:var(--header-color);
}


.button-hero {
  display: block;
   height: 50px;
  border-radius: 4px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  background-color:var(--blue-color);
  color:var(--header-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

}

.button-hero:hover,
.button-hero:focus {
text-decoration: underline;
text-decoration-color:#2196F3;
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.hero {
  background-color:var(--hero-footer);
}





/* секция ОСОБЕННОСТИ */



.spacial-container {
  display: flex;
  flex-direction:column;
  width: 1200px;
  padding-left: 50px;
  padding-right: 15px;
  padding-bottom:15px;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border: 2px dashed red;
}

.os-title {
  display: flex;
}
.spacial-container-li {
  padding-left: 0px;
     display: flex;
    flex-direction: row;
    justify-content: center;
  }


  .spacial-container-li .li {
  padding-bottom: 30px;
  margin-right: 30px;
 
}

.osob-h, .osob-p {
  display: flex;

}
.osob-p {
    margin-right: 30px;
    margin-bottom: 0px;
}
.p-end {
  margin-right: 0px;
}

.os-item {
 display: flex;
 flex-direction:column;
  }


.li-nd li, .auth-nav li,
.site-nav li
{ 
  list-style: none;
}

.osob-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color:var(--h-color);
  letter-spacing: 0.03em;
}




/* секция МЫ */


.container-we {
  width: 1200px;
  display: block;
  padding-left:15px;
  padding-right: 15px;
  padding-bottom:50px;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border: 2px dashed red;
 }

.we-ul{
  display: block;
  padding-left: 0px;
 }

.we-img {display:block;
max-width: 100%;
height: auto;  

}
 
 .we-ul li {
  display:inline-block ;
  margin-right: -4px;
  padding-right: 30px;
  } 


.we-ul li:last-child {
 padding-right: 0;
}





/* СЕКЦИЯ НАША КОМАНДА */

.container-nk {
  width: 1200px;
  display: block;
  padding-left:15px;
  padding-right: 15px;
  padding-bottom:50px;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border: 2px dashed red;

}

.ul-nk {
  padding-left: 0px;
  
  text-align: center ;
}
.ul-nk li {

  margin-right: -4px;

  }



.nk-li:first-child {
 margin-left: 0px;
}

.nk-li {
  display:inline-block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
width: 270px;
margin-left: 30px;


}


.foto-nk {
display: block;
max-width: 100%;
min-width: 100%;
height: auto;
}

.container-nk-content {
 padding-top: 30px;
 padding-bottom: 30px;
 padding-left: 50px;
 padding-right: 50px;
 text-align: center;
 }


.comanda-h, .comanda-p  {
   margin-left: auto;
  margin-right: auto;
}

.comanda-p {
  margin-bottom: 0px;
}


.comanda-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:var(--h-color);
  margin-bottom: 10px;
}

.nk {
  background-color:var(--nk-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--h-color);
}



.osob-p {
  font-weight:400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:var(--brand-letter);
 }

  .comanda-p {
   font-weight:400;
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color:var(--brand-letter);
 }






/* СЕКЦИЯ ПОДВАЛ */

.container-fu {
    width: 1200px;
  display: block;
  padding-left:15px;
  padding-right: 15px;
  padding-bottom:60px;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
  border: 2px dashed red;

}

.ul-footer {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container-fu a {
  display: block;
 
}
.white {
  margin-bottom: 20px;
}

.item-fu-mel {
  margin-top: 9px;
}

.item-fu-tel {
  margin-top: 9px;
}


.footer {
  background-color: var(--hero-footer);
}

.footer-link-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}


  
.footer-adress {
    font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:var(--header-color);
}


.link-web {
  font-family:var(--link-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color:var(--blue-color);
}

.link-black span {
  color: #212121;
}

.white span{
  color:#F5F4FA;
}






/* СЕКЦИЯ ПОРТФОЛИО ГЕРОЙ */





.container-potfolio-hero {
  display: flex;
  width: 1200px;
  display: block;
  padding-left:15px;
  padding-right: 15px;
  padding-bottom:60px;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
  border: 2px dashed red;

}

.ul-button {
  display: flex;
  margin: 0;
  padding-left: 0;
  justify-content:center;
  align-items:center;
}

.ul-button li {
  display: flex;
  
}

.filter-li {
  display: flex;
border-radius: 4px;
padding: 6px 22px;
  border: 0px;
   background:var(--nk-color);
}

.item-portfolio-filter {
  display: flex;
  margin-left: 8px;
}

.item-portfolio-filter:first-child {
  margin-left: 0px;
}


.filter-li:hover,
.filter-li:focus {
text-decoration: underline;
text-decoration-color:#2196F3;
background-color: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color:var(--header-color);
}


.filter-li {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color:var(--nk-color);
  color:var(--h-color);
  }

.pointer {
  cursor: pointer;
}



/* Секция карточки */

.container-card {
   width: 1200px;
  display: block;
  padding-left:15px;
  padding-right: 15px;
  padding-bottom:50px;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  
  border: 2px dashed red;


}


.project {
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-li {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);

}

.container-project-li {
  display: flex;
  padding: 20px 24px;
  flex-direction: column;
  
  
}

.project-li a {
  display: flex;
}

.project-li h3 {

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color:var(--h-color);
}

.project-li p {

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color:var(--brand-letter);

}

 
.pege-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  align:center;
  letter-spacing: 0.06em;
  color:var(--header-color);
}  