body {
  background-color:var(--brand-color);
  font-family: 'Roboto', sans-serif;
  font-style:Regular;
  font-size: 14px; 
  line-height: 1.71;
  letter-spacing: 0.03em;
   }

 
:root {
  --brand-color:#E5E5E5;
  --header-color:#FFFFFF;
  --nk-color:#F5F4FA;
  --hero-footer:#2F303A;
  --blue-color:#2196F3;
  --h-color:#212121;
  --brand-letter:#757575;

  --link-font:'Raleway', sans-serif;
  --title-h:font-weight: 500;
 }


.header {
  background-color:var(--header-color);
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: inherit;
}
   
.ul-link-blu {
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.kontakt {
  color:var(--brand-letter);
}

.link-blue {
  text-decoration: non;
 
}

.link-blue span {
  color:var(--blue-color);
}

.link-blue:hover,
.link-blue:focus {
  color:var(--blue-color);
}


.hero {
  background-color:var(--hero-footer);
}

.pege-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  align:center;
  letter-spacing: 0.06em;
  color:var(--header-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color:var(--header-color);
}

.hero-name {
  visibility:hidden;
}

.button-hero {
  font-weight: 700;
  font-size: 16px;
  background-color:var(--blue-color);
  color:var(--header-color);
}


.li-nd li { 
  list-style: none;
}

.osob-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color:var(--h-color);
  letter-spacing: 0.03em;
}

.comanda-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:var(--h-color);

}

.nk {
  background-color:var(--nk-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--h-color);
}



.osob-p {
  font-weight:400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:var(--brand-letter);
 }

  .comanda-p {
   font-weight:400;
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color:var(--brand-letter);
 }

.footer {
  background-color: var(--hero-footer);
}

.footer-link-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}


  
.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:var(--header-color);
}


.link-web {
  font-family:var(--link-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color:var(--blue-color);
}

.link-black span {
  color: #212121;
}

.white span{
  color:#F5F4FA;
}

.filter-li {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color:var(--nk-color);
  color:var(--h-color);
}

.pointer {
  cursor: pointer;
}

.filter-li:hover,
.filter-li:focus {
 background-color:var(--blue-color);
}

.project-li h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color:var(--h-color);
}

.project-li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color:var(--brand-letter);

}